/* Background pattern from Toptal Subtle Patterns */
body {
	background: url('../img/stripes-light.png');
	padding-bottom: 70px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

body, html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.container::-webkit-scrollbar {
	display: none;
}

.container {
	background-color: #fff;
	height: 100%;
  	-ms-overflow-style: none;
  	scrollbar-width: none;
  	overflow: auto;
}

.intro-name {
	font-size: 24px;
}

a {
	color: #1e90aa !important;
}

.project {
	background: #FFFFFF;
	box-shadow: 0 4px 30px 0 rgba(0,0,0,0.10);
	border: 1px solid #C2CCD1;
	font-family: Montserrat-Regular;
	font-size: 16px;
	color: #718790;
	text-align: center;
  	box-model: border-box;
  	border: 3px solid transparent;
  	background-clip: padding-box;
  	padding: 15px;
  	min-height: 260px;
}

.align-vertical-center {
	margin-top: auto;
	margin-bottom: auto;
}

.project-short-desc {
	font-size: 14px;
	font-style: italic;
}

.project-skills {
	font-size: 12px;
}

.projects {
	padding: 15px;
}

.project-img {
	height: 100px;
	max-width: 100%;
	object-fit: contain;
}

.skill:hover {
	font-weight: 800;
	-webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
}

.header-text {
	text-align: center;
}

.short-text {
	font-size: 18px;
}

.header {
	text-align: center !important;
	padding-top: 10px;
}

.footer {
	text-align: center !important;
}