/* Background pattern from Toptal Subtle Patterns */
body {
	background: url('../img/stripes-light.png');
	padding-bottom: 70px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

body, html {
  height: 100%;
}

.container {
	background-color: #fff;
	overflow: auto;
	height: 100%;
}

.intro-name {
	font-size: 24px;
}

.project {
	background: #FFFFFF;
	box-shadow: 0 4px 30px 0 rgba(0,0,0,0.10);
	border: 1px solid #C2CCD1;
	font-family: Montserrat-Regular;
	font-size: 16px;
	color: #718790;
	text-align: center;
  	box-model: border-box;
  	border: 3px solid transparent;
  	background-clip: padding-box;
}

.project-short-desc {
	font-size: 14px;
}

.projects {
	padding: 15px;
}

.project-img {
	height: 100px;
	width: auto;
}

.header-text {
	text-align: center;
}

.short-text {
	font-size: 18px;
}

.header {
	text-align: center !important;
	padding-top: 10px;
}

.footer {
	text-align: center !important;
}